.contentNav a {
  color: #666;
}
.content .menu {
  margin-top: 27px;
  padding-top: 24px;
  height: 259px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  position: relative;
}
.content .menu dl {
  height: 55px;
  margin-bottom: 0;
  margin-left: 27px;
}
.content .menu dl dt {
  float: left;
  margin-right: 20px;
  font-weight:normal;
  line-height: 50px;
}
.content .menu dl dd {
  margin: 8px 0;
  line-height: 32px;
  width: 72px;
  height: 32px;
  float: left;
  text-align: center;
}
.content .menu dl.brandDl {
  border-top: 1px solid #dfdfdf;
  padding-top: 8px;
}
.content .menu dl.typeDl {
  border-top: 1px solid #dfdfdf;
  padding-top: 8px;
  margin-top: 10px;
}
.content .menu dl.brandDl dd {
  margin-right: 10px;
}
.content .menu dl.typeDl dd {
  margin-right: 10px;
}
.content .menu dl dd a {
  display: inline-block;
  color: #666;
}
.content .menu dl dd a.cityActive {
  width: 72px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 16px;
  background-color: #ffffff;
  border: solid 1px #4ca5fc;
  color: #4ca5fc;
}
.content .menu dl dd a.brandActive {
  width: 72px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 16px;
  background-color: #ffffff;
  border: solid 1px #4ca5fc;
  color: #4ca5fc;
}
.content .menu dl dd a.typeActive {
  width: 72px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 16px;
  background-color: #ffffff;
  border: solid 1px #4ca5fc;
  color: #4ca5fc;
}
.content .menu dl dd a:hover {
  text-decoration: none;
}
/*排序*/
.businessRank {
  margin: 10px 0 12px;
  padding: 15px 6px 14px 17px;
  height: 44px;
  background-color: #e7f5ff;
}
.businessRank p {
  float: left;
  margin-right: 72px;
}
.businessRank p i.active {
  color: #4ca5fc;
  font-style: normal;
}
.businessRank span {
  float: left;
  cursor: pointer;
  margin-right: 58px;
}
.businessRank span i {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: transparent url("../../img/businessManage/down.png") center no-repeat;
}
.businessRank .searchIpt {
  float: right;
  margin-top: -8px;
  width: 279px;
  position: relative;
}
.businessRank #search {
  width: 279px;
  height: 33px;
  padding-left: 14px;
  line-height: 2px;
  border-radius: 4px;
  border: solid 1px #dfdfdf;
}
.businessRank .searchBtn {
  position: absolute;
  right: -50px;
  top: 5px;
  cursor: pointer;
  width: 24px;
  height: 22px;
  background: transparent url("../../img/businessManage/search.png") center no-repeat;
}
.businessDetails {
  float: left;
  height: 329px;
  width: 365px;
  margin-bottom: 19px;
  margin-right: 15px;
}
.businessDetails img {
  width: 365px;
  height: 224px;
}
.businessDetails .businessDetailsInfo {
  border: solid 1px #dfdfdf;
  border-top: 0 none;
  padding: 18px 13px 16px 16px;
}
.businessDetails .businessDetailsInfo h3 {
  float: left;
  margin: 0;
  font-size: 20px;
  color: #303030;
  font-weight: bold;
}
.businessDetails .businessDetailsInfo span {
  float: right;
  color: #fd716a;
  font-size: 20px;
  margin-top: -6px;
}
.businessDetails .businessDetailsInfo p {
  margin-top: 16px;
  color: #888;
  margin-bottom: 0;
}

/*分页样式*/
.page_div {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  font-family: "microsoft yahei";
  color: #666666;
  margin-right: 10px;
  box-sizing: border-box;
}
/*
 * 页数按钮样式
 */
.page_div a {
  min-width: 30px;
  height: 28px;
  border: 1px solid #dce0e0!important;
  text-align: center;
  margin: 0 4px;
  cursor: pointer;
  line-height: 28px;
  color: #666666;
  font-size: 13px;
  display: inline-block;
}
#firstPage,
#lastPage {
  width: 50px;
  color: #4ca5fc;
  border: 1px solid #4ca5fc!important;
}
#prePage,
#nextPage {
  width: 70px;
  color: #4ca5fc;
  border: 1px solid #4ca5fc!important;
}
.page_div .current {
  background-color: #4ca5fc;
  border-color: #4ca5fc;
  color: #fff;
}
.totalPages {
  margin: 0 10px;
}
.totalPages span,
.totalSize span {
  color: #4ca5fc;
  margin: 0 5px;
}
/*业务详情*/
.detailCon {
  margin-top: 38px;
}
.detailCon .detailImg {
  float: left;
  width: 449px;
  height: 449px;
  margin-right: 71px;
  background: transparent url("../../img/businessManage/bigbg.png") center no-repeat;
}
.detailCon .detailInfo {
  float: left;
  width: 620px;
}
.detailCon .detailInfo .detailInfoTop {
  padding-bottom: 80px;
  height: 80px;
}
.detailCon .detailInfo .detailInfoTit {
  float: left;
}
.detailCon .detailInfo .detailInfoTit h2 {
  margin: 0;
  font-size: 36px;
}
.detailCon .detailInfo .detailInfoTit p {
  font-size: 30px;
}
.detailCon .detailInfo .detailInfoTit p span {
  color: #f8a53b;
}
.detailCon .detailInfo a.service {
  float: right;
  color: #888;
}
.detailCon .detailInfo a.service:hover {
  text-decoration: none;
}
.detailCon .detailInfo a.service img {
  width: 35px;
  height: 33px;
  margin-top: 6px;
}
.detailCon .detailInfo .service p {
  margin-top: 10px;
  font-size: 20px;
}
.detailCon .detailInfo .detailInfoDetails {
  margin-top: 80px;
}
.detailCon .detailInfo dl {
  color: #666;
  margin-bottom: 18px;
  font-size: 16px;
}
.detailCon .detailInfo dl.cardDl dd span {
  margin-right: 20px;
}
.detailCon .detailInfo dl dt {
  float: left;
  font-size: 16px;
  margin-right: 22px;
  color: #666;
  font-weight: 100;
}
.detailCon .detailInfo dl dd {
  float: left;
  font-size: 16px;
  width: 490px;
  color: #666;
  margin-right: 20px;
}
.detailCon .detailInfo .btnfunction {
  margin-top: 44px;
}
.detailCon .detailInfo .btnfunction #handleBtn {
  float: left;
  width: 326px;
  height: 64px;
  border-radius: 4px;
  background-color: #4ca5fc;
  color: #fff;
  font-size: 24px;
  border: 0 none;
}
.detailCon .detailInfo .btnfunction a {
  float: left;
  height: 64px;
  line-height: 64px;
  font-size: 20px;
  color: #888;
  margin-left: 44px;
}
.detailCon .detailInfo .btnfunction a:hover {
  text-decoration: none;
}
.detailCon .detailInfo .btnfunction a i.fabulousIcon {
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 25px;
  background: transparent url("../../img/businessManage/fabulous.png") center no-repeat;
}
.detailCon .detailInfo .btnfunction a i.shareIcon {
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 25px;
  background: transparent url("../../img/businessManage/share.png") center no-repeat;
}
/*tab切换*/
.businessDetailsIntroduce {
  margin-top: 100px;
}
.businessDetailsIntroduce ul.tabTit {
  padding-left: 230px;
  margin-bottom: 35px;
  height: 60px;
  line-height: 55px;
  border-bottom: 1px solid #dcdcdc;
}
.businessDetailsIntroduce ul.tabTit li {
  float: left;
  cursor: pointer;
  font-size: 18px;
  width: 107px;
  text-align: center;
  color: #333;
  font-weight: bold;
  margin-right: 120px;
}
.businessDetailsIntroduce ul.tabTit li.active {
  color: #198bd4;
  border-bottom: 4px solid #198bd4;
}
.businessDetailsIntroduce ul.tabCon li.standard table {
  width: 100%;
  border: 1px solid #dcdcdc;
}
.businessDetailsIntroduce ul.tabCon li.standard table thead {
  height: 50px;
  line-height: 50px;
  background-color: #e7f5ff;
}
.businessDetailsIntroduce ul.tabCon li.standard table thead th {
  text-align: center;
  border: 1px solid #dcdcdc;
}
.businessDetailsIntroduce ul.tabCon li.standard table tbody tr {
  height: 50px;
  text-align: center;
}
.businessDetailsIntroduce ul.tabCon li.standard table tbody tr td {

  border: 1px solid #dcdcdc;
}

/*弹框*/
.confirmFram,.successFram,.errorFram {
  position:fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  left: 0px;
  top: 0px;
  z-index: 20;
  filter: alpha(opacity=90);
  opacity: 0.9 !important;
}
.confirmFram .framTips,.successFram .framTips,.errorFram .framTips {
  width: 725px;
  height: 435px;
  z-index: 21;
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  filter: alpha(opacity=100);
  opacity: 1 !important;
  background-color: #fff;
}
.tipsFram .framTips {
  height: 330px;
}
.framTipsTit {
  height: 100px;
  line-height: 100px;
  padding-left: 42px;
  font-size: 28px;
  color: #666;
  border-bottom: 2px solid #00ffff;
}
.framTipsTit .closeBtn {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 18px;
  width: 27px;
  height: 27px;
  background: transparent url("../../img/public/close.png") 0 0 no-repeat;
}
.framTips .framTipsCon {
  padding: 50px 0 0 228px;
  font-size: 20px;
}
.framTips .framTipsCon li {
  margin-bottom: 10px;
}
.framTips .framTipsCon li span {
  margin-left: 44px;
}
.framTips .framTipsCon li span.activPostage {
  color: #f9b25d;
}
.framTips .framDetailsTipsCon {
  margin-top: 114px;
  text-align: center;
  font-size: 20px;
  color: #888;
}
.framTips #unsubBtn,.framTips #successBtn,.framTips #errorBtn,.framTips #tipsBtn {
  height: 64px;
  width: 100%;
  background-color: #4ca5fc;
  border: 0 none;
  color: #fff;
  font-size: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.framTips .successImg,.framTips .errorImg {
  text-align: center;
  margin: 40px 0 30px 0;
}
.framTips .successTxt,.framTips .errorTxt {
  text-align: center;
  font-size: 20px;
  color: #888;
}
.framTips .errorTxt {
  margin-bottom: 20px;
}
.framTips .errorReason {
  text-align: center;
  color: #fe716a;
}


