/*
 author: lq  2017/11/9

  单独样式
 */
@charset "utf-8";
body{
	background-color: #fff;
}
/*头部样式*/
.header {
  height: 100px;
  font-size: 16px;
  border-bottom: 1px solid #c5c5c5;
}
.header .logoBox {
  margin-top: 14px;
  height: 85px;
  line-height: 100px;
  float: left;
}
.header .logoBox .logo {
  width: 161px;
  height: 65px;
  background: transparent url(../../img/numSelection/LOGO.png) center no-repeat;
}
.header ul.headerNav,
.header ul.countNav {
  line-height: 100px;
}
.header ul.headerNav li.firstPage {
  margin-left: 20px;
}
.header ul.headerNav li {
  float: left;
  width: 95px;
  text-align: center;
}
.header ul.headerNav li a {
  display: block;
  width: 110px;
  height: 100px;
  color: #666;
}
.header ul.headerNav li a.active,
.header ul.countNav li a.active {
  border-bottom: 4px solid #198bd4;
}
.header ul.headerNav li a:hover,
.header ul.countNav li a:hover {
  text-decoration:none;
}
.header ul.countNav {
  float: right;
  margin: 0;
}
.header ul.countNav li {
  float: left;
  margin-top: 32px;
}
.header ul.countNav li.searchFrame {
  margin-top: 40px;
  padding-right: 33px;
  border-right: 1px solid #c3c3c3;
}
.header ul.countNav li.accountFrame {
  padding-left: 28px;
}
.header ul.countNav li a {
  color: #666;
  display: block;
}
.header ul.countNav li a.searchBtn {
  width: 20px;
  height: 20px;
  background: transparent url(../../img/numSelection/search.png) center no-repeat;
}
.header ul.countNav li a.account {
  width: 37px;
  height: 37px;
  background: transparent url(../../img/numSelection/account.png) center no-repeat;
}
/*底部样式*/
.footer{
	width: 100%;
	text-align: center;
    color: #bdc3c7;
    font-size: 14px;
    padding: 30px 0;
    border-top: 1px solid #ecedee;
    position: relative;
    left: 0;
    bottom: 0;
}
/*中间部分*/
.content{
	width: 100%;
	background: url(../../img/login/bg.png) center no-repeat;
	padding-top: 160px;
	padding-bottom: 130px;
}
.content .loginDiv{
	width: 670px;
    height: 460px;
	background-color: #fff;
	border-radius: 4px 4px 4px 4px;
	border: solid 2px #e4e4e4;
	margin: 0 auto;
	padding: 35px 0;
}
.content .loginDiv .loginBody{
	width: 380px;
	margin: 0 auto;
}
.content .loginDiv .loginBody .loginNav ul li{
	float: left;
	width: 190px;
	height: 46px;
    line-height: 46px;
    cursor: pointer;
}
.content .loginDiv .loginBody .loginNav ul li:first-child{
	border-right: 1px solid #e4e4e4;
}
.content .loginDiv .loginBody .loginNav ul li span{
	font-family: ﻿MicrosoftYaHei;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 26px;
	letter-spacing: 0px;
	color: #666666;
	padding: 12px;
}
.content .loginDiv .loginBody .loginNav ul li span.active{
	color: #60a5f5;
	border-bottom: #60a5f5 2px solid;
}
.content .loginDiv .loginBody .loginForm{
	margin-top: 25px;
	margin-bottom: 30px;
}
.content .loginDiv .loginBody .loginForm .phoneInput{
	width: 380px;
	height: 51px;
	border-radius: 4px 4px 4px 4px;
	border: solid 1px #dfdfdf;
	margin-bottom: 10px;
}
.content .loginDiv .loginBody .loginForm .pwInput{
	width: 200px;
	height: 51px;
	border-radius: 4px 4px 4px 4px;
	border: solid 1px #dfdfdf;
}
.content .loginDiv .loginBody .loginForm .getButton{
	width: 160px;
	height: 51px;
	line-height: 51px;
    text-align: center;
	margin-left: 15px;
	cursor: pointer;
	background-color: #60a5f5;
	border-radius: 4px 4px 4px 4px;
}
.content .loginDiv .loginBody .cheakboxDiv label{
	font-family: ﻿MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 26px;
	letter-spacing: 0px;
	color: #666666;
}
.content .loginDiv .loginBody .loginButton{
	width: 380px;
	height: 50px;
	background-color: #60a5f5;
	border-radius: 4px 4px 4px 4px;
	line-height: 50px;
	text-align: center;
	margin-top: 30px;
	cursor: pointer;
	letter-spacing: 10px;
}
.servePwInput{
	width: 380px;
	height: 51px;
	border-radius: 4px 4px 4px 4px;
	border: solid 1px #dfdfdf;
}
.ml5{
	margin-left: 5px;
}
