.contentNav a {
  color: #666;
}
.container .content .scheduleTab {
  font-size: 18px;
  border-bottom: 1px solid #ecedee;
  height: 45px;
  line-height: 45px;
}
ul.scheduleTab li {
  float: left;
  margin-right: 45px;
  font-weight: bold;
  cursor: pointer;
}
ul.scheduleTab li.active {
  color: #198bd4;
  border-bottom: 4px solid #198bd4;
}
ul.scheduleTabCon li.infoQuery,ul.scheduleTabCon li.orderQuery {
  width: 774px;
  height: 501px;
  margin: 37px auto 0;
  padding: 23px 0 0 193px;
  /*text-align: center;*/
  border: 1px solid #ecedee;
}
ul.scheduleTabCon li.infoQuery label,ul.scheduleTabCon li.orderQuery label {
  display: block;
  margin-bottom: 37px;
}
ul.scheduleTabCon li.infoQuery label span,ul.scheduleTabCon li.orderQuery label span {
  display: inline-block;
  width: 90px;
  color: #666;
  margin-right: 10px;
  text-align: right;
}
ul.scheduleTabCon li.infoQuery label span.IDWarn,ul.scheduleTabCon li.infoQuery label span.phoneWarn {
  color: #ff1515;
  font-size: 12px;
  width: 150px;
}
ul.scheduleTabCon li.infoQuery label input,ul.scheduleTabCon li.orderQuery label input {
  width: 293px;
  height: 36px;
  padding-left: 10px;
  border-radius: 6px;
  border: 1px solid #b5b7bb;
}
ul.scheduleTabCon li.infoQuery label input#authNumber {
  width: 201px;
  margin-right: 10px;
}
ul.scheduleTabCon li.infoQuery #infoQueryBtn,ul.scheduleTabCon li.orderQuery #numberQueryBtn {
  width: 145px;
  height: 41px;
  margin-left: 140px;
  color: #fff;
  background-color: #4ca5fc;
  border: 0 none;
  border-radius: 4px;
  font-size: 16px;
}

/*查询结果*/
.queryResult .queryResultTit {
  padding-bottom: 13px;
  border-bottom: 1px solid #ecedee;
  margin:30px 0 37px;
}
.queryResult .queryResultTit i {
  display: inline-block;
  width: 4px;
  height: 17px;
  background-color: #4ca5fc;
  vertical-align: middle;
  margin-right: 4px;
}
.queryResult .queryResultTit span {
  font-size: 18px;
  vertical-align: middle;
  color: #000;
  font-weight: bold;
}
.order {
  float: left;
  width: 566px;
  height: 214px;
  border: 3px solid #dbedfe;
  margin-right: 4px;
}
.order .orderSituation,.logistics .orderSituation {
  height: 96px;
  background-color: #dbedfe;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 27px 25px 29px;
}
.order .orderSituation .orderSituationTxt {
  float: left;
}
.order .orderSituation .orderSituationTxt .newSituation {
  color: #f8a53b;
}
.order .orderSituation #cancelBtn {
  float: right;
  width: 109px;
  height: 41px;
  border: 0 none;
  font-size: 16px;
  color: #fff;
  background-color: #4ca5fc;
  border-radius: 4px;
}
.order .peopleInfo {
  margin: 18px 0 4px 26px;
}
.order .peopleInfo p {
  color: #666;
}
.order .peopleInfo a {
  margin-left: 27px;
  color: #4ca5fc;
}
.logistics {
  float: left;
  width: 566px;
  padding-bottom: 100px;
  border: 3px solid #dbedfe;
  margin-right: 4px;
}
.logistics .orderSituation h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 9px;
}
.logistics .orderSituation p.orderNum {
  font-size: 14px;
  color: #999999;
  font-weight: 100;
}
.logistics .logisticsInfo  {
  padding: 40px 0 0 150px;
  text-align: center;
}
.logistics .logisticsInfo .logisticsDate {
  float: left;
  margin-right: 29px;
}
.logistics .logisticsInfo .logisticsDate p.date {
  font-size: 16px;
  color: #666;
  margin-bottom: 6px;
}
.logistics .logisticsInfo .logisticsDate p.week {
  font-size: 14px;
  color: #999;
}
.logistics .logisticsInfo span.situationalTopImg {
  float: left;
  height: 88px;
  width: 23px;
  background: transparent url("../../img/public/top.png") center no-repeat;
  margin-right: 18px;
}
.logistics .logisticsInfo span.situationalMiddleImg {
  float: left;
  height: 76px;
  width: 23px;
  background: transparent url("../../img/public/middle.png") center 0 no-repeat;
  margin-right: 18px;
}
.logistics .logisticsInfo span.situationalBottomImg {
  float: left;
  height: 76px;
  width: 23px;
  background: transparent url("../../img/public/bottom.png") center 0 no-repeat;
  margin-right: 18px;
}
.logistics .logisticsInfo p.logisticsPlace {
  float: left;
  font-size: 16px;
  color: #666;
}







